.app-add-contact {
	display: flex;
	flex-direction: column;
	align-items: center;

	.mat {
		&-raised-button,
		&-form-field {
			min-width: 80%;
		}

		&-icon {
			margin-left: 5px;
			padding-bottom: 3px;
		}

		&-checkbox {
			min-width: 80%;
			margin-bottom: 20px;
			text-align: left;
		}
	}

	form {
		text-align: center;
	}

	h1 {
		margin: 40px auto 0;
	}

	.mat-spinner {
		display: inline;
	}

	button {
		margin-bottom: 20px;
	}

	p {
		margin-bottom: 40px;
	}

	.final-page-container {
		text-align: center;
	}

	#checkDone {
		width: 100px;
		height: auto;
		margin: 20px 0;
	}
	
	.status-container {
		font-size: 20px;
		margin-top: 40px;
	}

	form .status-container {
		font-size: 16px;
		margin-top: 20px;
	}

	.status-connected {
		color: green;
	}

	.status-disconnected {
		color: red;
	}
}

.lds-dual-ring {
  display: inline-block;
  width: 80px;
  height: 80px;
	margin-top: 60px;
}
.lds-dual-ring:after {
  content: " ";
  display: block;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid #3f51b5;
  border-color: #3f51b5 transparent #3f51b5 transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
