<div *ngIf="isLoading" class="final-page-container">
  <h1>Loading...</h1>
  <div class="lds-dual-ring"></div>
</div>

<div *ngIf="!isLoading" class="final-page-container">
  <div *ngIf="isConnected">
    <h1>Thank You App</h1>
    <p class="status-container">
      Status:
      <span class="status-connected"> connected</span>
    </p>
    <button (click)="showChangeSettings()" mat-raised-button color="primary">
      Change settings
    </button>
    <p>
      If you liked this app, and want to learn more about optimising Zendesk. Click
      <a href="https://www.getadelante.com/tyapp">here</a>
    </p>
  </div>

  <div *ngIf="!isConnected">
    <div *ngIf="isCreated" class="final-page-container">
      <h1>Account successfully connected!</h1>
      <img id="checkDone" src="../../check.png" alt="Check image">
      <p>
        If you liked this app, and want to learn more about optimising Zendesk. Click
        <a href="https://www.getadelante.com/tyapp">here</a>
      </p>
    </div>

    <div *ngIf="!isCreated">
      <h1>Create Account</h1>

      <form [formGroup]="createForm" (submit)="createContact()">
        <p class="status-container">
          Status:
          <span *ngIf="!connectionErrorReason.length" class="status-connected"> connected</span>
          <span *ngIf="connectionErrorReason.length" class="status-disconnected"> disconnected</span>
          <span *ngIf="connectionErrorReason.length">, {{connectionErrorReason}}</span>
        </p>
        <mat-form-field appearance="standard">
          <mat-label>First Name</mat-label>
          <input formControlName="firstName" matInput placeholder="Your first name" />
        </mat-form-field>
        <mat-form-field appearance="standard">
          <mat-label>Last Name</mat-label>
          <input formControlName="lastName" matInput placeholder="Your last name" />
        </mat-form-field>
        <mat-form-field appearance="standard">
          <mat-label>Company</mat-label>
          <input formControlName="company" matInput placeholder="Your company name" />
        </mat-form-field>
        <mat-form-field appearance="standard">
          <mat-label>Email</mat-label>
          <input formControlName="username" matInput placeholder="Enter your Zendesk Admin Email. Do not use your support address" />
        </mat-form-field>
        <mat-form-field appearance="standard">
          <mat-label>API Key</mat-label>
          <input formControlName="apiKEY" matInput placeholder="Enter the API key you created in the Zendesk admin center" />
        </mat-form-field>
        <mat-form-field appearance="standard">
          <mat-label>Language for App notifications on the ticket</mat-label>
          <mat-select formControlName="language">
            <mat-option *ngFor="let language of languages" [value]="language.value">
              {{language.text}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field appearance="standard">
          <mat-label>Where did you hear about us?</mat-label>
          <mat-select formControlName="referral">
            <mat-option value="facebook">Facebook</mat-option>
            <mat-option value="google">Google</mat-option>
            <mat-option value="zendesk_marketplace">Zendesk Marketplace</mat-option>
            <mat-option value="referral">Referral</mat-option>
            <mat-option value="adelante">Adelante Website</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-checkbox [disabled]="true" [checked]="true" color="primary" formControlName="emailSubscription">
          I agree that after installing this app I will receive Zendesk tips and guides from Adelante
        </mat-checkbox>
        <button type="submit" mat-raised-button color="primary" [disabled]="!createForm.valid">
          Create
        </button>
        <p>
          If you liked this app, and want to learn more about optimising Zendesk. Click
          <a href="https://www.getadelante.com/tyapp">here</a>
        </p>
      </form>
    </div>
  </div>
</div>
