.app-add-contact {
	display: flex;
	flex-direction: column;
	align-items: center;

	.mat {
		&-raised-button,
		&-form-field {
			min-width: 80%;
		}

		&-icon {
			margin-left: 5px;
			padding-bottom: 3px;
		}

		&-checkbox {
			min-width: 80%;
			margin-bottom: 20px;
			text-align: left;
		}
	}

	form {
		text-align: center;
	}

	h1 {
		margin: 40px auto 0;
	}

	.mat-spinner {
		display: inline;
	}

	button {
		margin-bottom: 20px;
	}

	p {
		margin-bottom: 40px;
	}
}
